@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    background: white;
    color: #171717;
  }

  .font-citadel {
    font-family: var(--font-citadel), "Great Vibes", cursive !important;
  }
}